<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Movie</title>
</head>
<body>
<a href="/">Home</a>
	<form name="movieForm" th:object="${newMovie}" th:action="@{/movies/update/{id}(id=${newMovie.id})}" method=POST>
		Name: <input name="name" size="20" th:field="*{name}"><br />
		Genre: <input name="genre" size="20" th:field="*{genre}"><br />
		Release Date: <input name="releaseDate" type="date" th:field="*{releaseDate}"><br />
		<input name="Submit" type="submit" value="submit" />
	</form>
	<a href="/movies/viewAll">View All Movies</a>
</body>
</html>