<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Place Order Screen</title>
</head>
<body>
<h3>Place Order: </h3>

<form name="newOrderForm" th:object="${newOrder}" th:action="@{/orders/update/{id}(id=${newOrder.id})}" method=POST>
		
		Customer Name <select th:field ="*{orderCustomerName}">
		<option value="none" selected>Choose a Customer</option>
		<option th:each="customer : ${customers}" th:value="${customer.id + ' ' + customer.firstName + ' '+ customer.lastName}" th:text="${customer.id + ' ' + customer.firstName + ' '+ customer.lastName}"></option>
		</select>
		<br><br>
		Employee Name <select th:field ="*{orderEmployeeName}">
		<option value="none" selected>Choose an Employee</option>
		<option th:each="employee : ${employees}" th:value="${employee.id + ' ' + employee.firstName + ' '+ employee.lastName}" th:text="${employee.id + ' ' + employee.firstName + ' '+ employee.lastName}"></option>
		</select>
		<br><br>
		Movie Title <select th:field ="*{orderMovieTitle}">
		<option value="none" selected>Choose a Movie</option>
		<option th:each="movie : ${movies}" th:value="${movie.id + ' ' + movie.name}" th:text="${movie.id + ' ' + movie.name}"></option>
		</select>
		<br><br>
		Buy/Rent: <select th:field ="*{buyOrRent}">
		<option value="none" selected>Make a Choice</option>
		<option th:value="rent" th:text="Rent"></option>
		<option th:value="buy" th:text="Buy"></option>
		</select>
		<br><br>
		Quantity: <input type="number" name="orderQuantity" size="20" th:field="*{orderQuantity}"><br/>
		<br><br>
		<input name="Submit" type="submit" value="submit" />
	</form>
	<a href="/movies/viewAll">View all Movies</a><br />
	<a href="/customers/viewAll">View all Customers</a><br />
	<a href="/employees/viewAll">View All Employees</a><br>
	<a href="/orders/viewAll">View All Orders</a>


</body>
</html>