<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Place Order Screen</title>
</head>
<body>
<h3>Place Order: </h3>

<form name="newOrderForm" th:object="${newOrder}" th:action="@{/orders/update/{id}(id=${newOrder.id})}" method=POST>
		Employee Name: <input name="orderEmployeeName" size="20" th:field="*{orderEmployeeName}"><br />
		Customer Name: <input name="orderCustomerName" size="20" th:field="*{orderCustomerName}">  <br />
		Movie Title: <input name="orderMovieTitle" size="20" th:field="*{orderMovieTitle}">  <br />
		Buy/Rent: <input name="buyOrRent" size="20" th:field="*{buyOrRent}"><br />
		Quantity: <input type="number" name="orderQuantity" size="20" th:field="*{orderQuantity}"><br />
		<input name="Submit" type="submit" value="submit" />
	</form>
	<a href="/movies/viewAll">View all Movies</a><br />
	<a href="/customers/viewAll">View all Customers</a><br />
	<a href="/orders/viewAll">View All Employees</a>


</body>
</html>