<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View all orders</title>
</head>
<body>

<form>
<table>
<tr th:each="currentOrder : ${orders}" >
<td th:text="${currentOrder.id}" />
 <td th:text="${currentOrder.movie.title}" />
 <td th:text="${currentOrder.customer.name}" />
 <td th:text="${currentOrder.employeeName}" />

<td><a th:href="@{/edit/{id}(id=${currentOrder.id})}">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${currentOrder.id})}">Delete</a></td>
</tr>
</table>
</form>
<a href="../inputOrder">Add a new order</a>

<button type ="button">Place Order</button>
<button type="button">Customer Screen</button>

</body>
</html>