<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Movies</title>
</head>
<body>
	<a href="/">Home</a>
	<form>
		<table>
			<tr th:each="currentMovie: ${movies}">
				<td th:text="${currentMovie.name}" />
				<td th:text="${currentMovie.genre}" />
				<td th:text="${currentMovie.releaseDate}" />
				<td><a th:href="@{/movies/edit/{id}(id=${currentMovie.id})}">Edit</a></td>
				<td><a th:href="@{/movies/delete/{id}(id=${currentMovie.id})}">Delete</a></td>
				<td><a th:href="@{/movies/order/{id}(id=${currentMovie.id})}">Order</a></td>
			</tr>
		</table>
		
	</form>
	<a href="/movies/inputMovie">Add a new Movie</a>
	<a href="/rentals/viewAll">View Rentals</a>
</body>
</html>